@tailwind base;
@tailwind components;
@tailwind utilities;


.scrollbar {
  }
  
  .scrollbar::-webkit-scrollbar {
    width: 7px;
    height: 10px;
  }
  
  .scrollbar::-webkit-scrollbar-thumb {
    background: #f0a94d;
    border-radius: 1rem;
  }
  